<div>
  <h1>Angular ❤️ RxJS</h1>

  <div class="grid">
    <div><h2>Commonly found</h2></div>
    <app-common></app-common>
    <div><h2>Refactored</h2></div>
    <app-refactored></app-refactored>
    <div><h2>Late Subscriber</h2></div>
    <app-late-subscriber></app-late-subscriber>
    <div><h2>Fun with operators</h2></div>
    <app-fun-with-operators></app-fun-with-operators>
    <div><h2>Async pipe</h2></div>
    <app-async-pipe></app-async-pipe>
    <div><h2>Toggle Stream</h2></div>
    <app-stream-control></app-stream-control>
  </div>
</div>
